html,
body,
div,
p,
ul,
li {
    margin: 0;
    padding: 0
}

body {
    font-size: 15px;
    font-family: "microsoft yahei", arial, sans-serif;
    background-color: #fff;
    color: #444;
}

ul {
    list-style: none;
}

li {
    line-height: 28px;
}

li li {
    text-indent: -21px;
    padding-left: 21px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

th,
td {
    padding: 0;
    text-align: left;
    line-height: 28px
}

td label {
    float: left;
    width: 150px;
    text-align: right;

}

img {
    display: block;
    border: 0 none;
    margin: auto;
}

.none {
    display: none;
}

.wrapper {
    width: 1000px;
    line-height: 28px;
    /* border: 1px solid #dedede; */
    margin: auto auto -1px auto;
}

.head {
    display: block;
    background-color: #fafafa
}

.line {
    border-top: 1px solid #eee;
}

.con {
    border-top: 1px dotted #eee;
    margin-top: 15px;
    padding-top: 15px;
}

.title {
    height: 54px;
    font-size: 16px;
    font-weight: bold;
    color: #444;
    line-height: 54px;
}

.box1 {
    width: 1000px;
    word-wrap: break-word;
    color: #fff;
    background-color: #3f4160;
}

.box1 .hbox {
    /* width: 185px; */
    width: 50px;
    height: 154px
}

.box1 .infr {
    width: 767px;
    color: #fff;
    table-layout: auto
}

.box1 .infr .name {
    font-size: 20px;
    padding-bottom: 18px
}

.box2 {
    padding: 0 50px 20px;
    /* background-color: #f8f9fa */
}

.box2 td {
    line-height: 28px;
}

.box {
    padding: 0 50px 20px;
    border-top: 1px solid #eee;
    margin-top: -1px;
}

.ui-indent2 {
    text-indent: 2em;
}

.ui-indent5R {
    text-indent: -5em;
    padding-left: 5em;
}

.ui-pageBreak {
    page-break-after: always;
}

.ui-lineBreak {
    display: block;
    height: 5px;
}

.ui-fr {
    float: right;
}

.ui-small {
    font-size: 13px;
}

@media screen {
    body {
        margin-bottom: 50px;
    }
}

@media print {
    .box1 .infr {
        color: #333;
    }
    .conNoShow {
        height: 30px;
    }

    .conNoShow + .con {
        border-top: none;
    }
}