html,
body,
div,
p,
ul,
li {
    margin: 0;
    padding: 0
}

body {
    font-size: 16px;
    font-family: "microsoft yahei", arial, sans-serif;
    background-color: #fff;
    color: #444;
}

ul {
    list-style: none;
}

li {
    line-height: 28px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

th,
td {
    padding: 0;
    text-align: left;
    line-height: 30px
}

td label {
    float: left;
    width: 150px;
    text-align: right;

}


.wrapper {
    width: 1000px;
    line-height: 28px;
    margin: auto auto -1px auto;
}

.line-top {
    border-top: 1px solid #eee;
}

.con {
    border-top: 1px dotted #eee;
    margin-top: 15px;
    padding-top: 15px;
}

.title {
    height: 40px;
    font-size: 18px;
    color: #444;
    line-height: 40px;
    padding-top: 20px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #eee; */
}

.box-info {
    width: 1000px;
    word-wrap: break-word;
    color: #fff;
    background-color: #3f4160;
}

.box-info .hbox {
    width: 50px;
    height: 154px
}

.box-info .infr {
    width: 767px;
    color: #fff;
    table-layout: auto
}

.box-info .infr .name {
    font-size: 22px;
    padding-bottom: 18px
}

.box-edu {
    padding: 0 50px 20px;
}

.box-edu .title {
    padding-bottom: 5px;
    border: none;
}

.box-edu td {
    line-height: 28px;
}

.box {
    padding: 0 50px 20px;
    border-top: 1px solid #eee;
    margin-top: -1px;
}

.ui-indent li {
    text-indent: -1.6em;
    padding-left: 2em;
}

.ui-pageBreak {
    page-break-after: always;
}

.ui-fr {
    float: right;
}

.ui-small {
    font-size: 14px;
}

.ui-pt10 {
    padding-top: 10px;
}

@media screen {
    body {
        margin-bottom: 50px;
    }
}

@media print {
    .box-info .infr {
        color: #333;
    }

    .PrintHeight40 {
        height: 40px;
    }

    .title,
    .box,
    .line-top,
    .con {
        border: none;
    }
}