html, body, div, p, ul, li {
    margin: 0;
    padding: 0
}

body {
    font-size: 14px;
    font-family: "microsoft yahei", arial, sans-serif;
    background-color: #ffffff
}

ul {
    list-style: none;
}

ul ul {
    padding-left: 1em;
}

li {
    line-height: 28px
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

th, td {
    font-size: 14px;
    padding: 0;
    text-align: left;
    line-height: 28px
}

img {
    display: block;
    border: 0 none;
    margin: auto;
}

.column {
    width: 1000px;
    line-height: 28px;
    border: 1px solid #dedede;
    margin: auto;
}

.head {
    display: block;
    background-color: #fafafa
}

.line {
    border-top: 1px solid #eee;
}

.con {
    border-top: 1px dotted #eee;
    margin-top: 15px;
    padding-top: 15px;
}

.title {
    height: 54px;
    font-size: 16px;
    font-weight: bold;
    color: #818ba3;
    line-height: 54px;
}

.box1 {
    width: 1000px;
    word-wrap: break-word;
    color: #ffffff;
    background-color: #3f4160;
}

.box1 .hbox {
    width: 185px;
    height: 154px
}

.box1 .infr {
    width: 767px;
    color: #ffffff;
    table-layout: auto
}

.box1 .infr .name {
    font-size: 24px;
    padding-bottom: 18px
}

.box2 {
    padding: 0 50px 20px;
    background-color: #f8f9fa
}

.box2 td {
    line-height: 28px;
    color: #666666
}

.box {
    padding: 0 50px 20px;
    border-top: 1px solid #eee;
}

.ui-indent2 {
    text-indent: 2em;
}

.ui-indent5R {
    text-indent: -5em;
    padding-left: 5em;
}